.app.dark {
  --bg-color: #230240;
  --inverted-bg-color: #f4efef;

  --primary-color: #cdc6c6;
  --secondary-color: #8d8787;

  --inverted-primary-color: #03074a;
  --inverted-secondary-color: #040a7c;
}
