.app.light {
    --bg-color: #f4efef;
    --inverted-bg-color: #230240;
    --primary-color: #03074a;
    --secondary-color: #040a7c;
    --inverted-primary-color: #cdc6c6;
    --inverted-secondary-color: #8d8787;
}
